<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    .cl-1 {
        background:#dadbdf;
    }
    .cl-2 {
        background: #e1d7d2;
    }
    .cl-3 {
        background: #808c99;
    }
    .header {
        height: 10vh;
    }
    .main {
        height: 80vh;
    }
    .footer {
        height: 10vh;
    }
    ul > li {
        display: inline-block;
        padding: 10px;
    }
    .img{
        height: 200px;
    }
    .bmw-har{
        height: 100px;
        width: 450px;
        display: inline-block;
    }
    .bmw-har2{
        width: 350px;
    }
    .bmw-har-span{
        font-weight: bold;
        text-align: left;
    }
    .big{
        text-transform: uppercase;
    }
</style>
</head>
<body>


    <div class="container">
        <div class="row header">
            <div class="col-3 cl-1">LOGO</div>
            <div class="col-3 cl-1">{{ header }}</div>
            <div class="col-6 cl-1">
                <nav>
                    <ul>
                        <li v-for="menu, index in menuTop"><a href="#" v-on:click="changeMainMenu(index + 1)" class="big">{{ menu }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row main">
            <div class="col-3 cl-3">Menu</div>
            <div class="col-9 cl-2">
                <main v-if="menu === 3">
        <h2 class="big" style="text-align: center;">nissan gt-r 2018</h2>
                 <img  src="nissan.jpg" alt="" class="img">
                 <div   class="bmw-har" v-if="gtr === 1">
                     <span >
                       Black Edition:    ,3.8 л. , 570 л.с. ,   6AT     4WD <br>
                       </span> 

                      <span>
                       
                       </span> 

                      Prestige  3.8 л.  570 л.с.    6AT     4WD
                   </span>
               </div>
               <span class="bmw-price" v-if="gtr === 2">
                   <strong>7 499 000₽</strong> 

               </span>
               <ul style="display: block;">
                 <li  v-for="gtr, index in gtrmenu">
                    <a href="#" v-on:click="changeGtr(index + 1)">{{ gtr }}</a>
                </li>

            </ul>

            <p class="bmw_p">
            Новый Nissan GT-R — автомобиль, который знает о скорости все. Он восхитит вас маневренностью, динамикой и взрывным ускорением. Совершенные формы, спортивный интерьер и десятки эксклюзивных опций превращают спорткар в безоговорочного лидера. Приезжайте в наши автосалоны в Москве на Таганке и в Люблино, чтобы увидеть ГТР лично и убедиться: он заряжает драйвом с одного взгляда! 
         </p>
         <label for="#">
            Вам нравиться? <br>
             <input type="text" v-model="message"> {{ message }}
         </label>
    </main>
                <main v-if="menu === 1">
                 <h2 class="big" style="text-align: center;">BMW X5</h2>
                 <img  src="bmwx5.jpg" alt="" class="img">
                 <div   class="bmw-har" v-if="bmw === 1">
                     <span >
                       Разгон 0-100 км/ч в секундах: <span class="bmw-har-span">
                           6.5 <br>
                       </span> 

                       Максимальная скорость в км/ч: <span class="bmw-har-span">
                           230 <br>
                       </span> 
                       Расход топлива в л/100 км в смешанном цикле: <span class="bmw-har-span">
                           7.2 <br>
                       </span> 

                       Максимальная мощность, л. с.: <span class="bmw-har-span">
                           249 <br>
                       </span>    
                   </span>
               </div>
               <span class="bmw-price" v-if="bmw === 2">
                   BMW X5 xDrive30d от <strong>4 590 000 ₽</strong> 

               </span>
               <ul style="display: block;">
                 <li  v-for="bmw, index in bmwmenu">
                    <a href="#" v-on:click="changeBmw(index + 1)">{{ bmw }}</a>
                </li>

            </ul>

            <p class="bmw_p">
             Новый BMW X5 — лидер модельного ряда, который расставляет все по местам. Этот высокий, элегантный и сильный автомобиль невозможно не заметить. Мощная цельная двойная решетка радиатора словно намекает на то, что произойдет при запуске двигателя. Великолепный дизайн фар в стиле X не отставляет сомнений в том, кто же лидер. Благодаря инновационным технологиям для максимальной динамики и большей безопасности на любых покрытиях новый BMW X5 знает куда двигаться. И как оказаться там первым.
         </p>
         <label for="#">
            Вам нравиться? <br>
             <input type="text" v-model="message"> {{ message }}
         </label>

     </main>
     <main v-if="menu === 2">
         <h2 class="big" style="text-align: center;">toyota camry 70</h2>
           <todo-item>  </todo-item>
                 <img  src="toyota.jpg" alt="" class="img">
                 <div   class="bmw-har bmw-har2" v-if="toy === 1" style="display: inline-block;">
                     <span >
                       Разгон 0-100 км/ч в секундах: <span class="bmw-har-span">
                           11.0 <br>
                       </span> 
                       <span>

                       Максимальная скорость в км/ч: <span class="bmw-har-span">
                           210 <br>
                       </span> 

                       <span>
                       Максимальная мощность, л. с.: <span class="bmw-har-span">
                           249 <br>
                       </span>    
               </div>
               <span class="bmw-price" v-if="toy === 2">
                   <strong>     1 777 000₽</strong> 

               </span>
               <ul style="display: block;">
                 <li  v-for="toy, index in toymenu">
                    <a href="#" v-on:click="changeToy(index + 1)">{{ toy }}</a>
                </li>

            </ul>

            <p class="bmw_p">
           Последняя генерация Toyota Camry – это истинное воплощение триумфа инженерной мысли. Инновационная модульная платформа TNGA позволила создать для новинки особый элегантный силуэт. Премиальный комфорт, современное электронное наполнение, уникальный дизайн – составляющие нового образа, который становится настоящим эталоном среди седанов бизнес-класса.
         </p>
         <label for="#">
            Вам нравиться? <br>
             <input type="text" v-model="message"> {{ message }}
         </label>
    
</div>
</div>
<div class="row footer">
    <div class="col-6 cl-3">Footer 1</div>
    <div class="col-6 cl-3">Footer 2</div>
</div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    new Vue({
        el: '.container',
        data: {
            addMenu: '',
            header: 'Welcome my WebSite!',
            menuTop: ['BMW X5', 'toyota camry 70', 'nissan gt-r 2018'],
            menu: 0,
            bmwmenu: ['Характеристики', 'Цены' ],
            gtrmenu: ['Характеристики', 'Цены' ],
            toymenu: ['Характеристики', 'Цены' ],
            bmw:0,
            gtr:0,
            toy:0,
            message:'',


        },
        methods: {
            changeTopMenu(){
                this.menuTop.push(this.addMenu);
            },
            changeMainMenu(argm){
                this.menu = argm;
            },
            changeBmw(argm){
                this.bmw = argm;
            },
            changeGtr(argm){
                this.gtr = argm;
            },
            changeToy(argm){
                this.toy = argm;
            }
            
        }

    });
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>Компонент</li>'
    });

</script>
</body>
</html>