*{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;

	font-style: normal;
}
/*                  HEADER */
#header{
	background: #373737;
	height: 60px;
}
.container{
	width: 1101px;
	margin: 0 auto;
}
.header__logo{
	width: 221px;
	height: 20px;
	border: 1px solid #FFFFFF;
	position: relative;

}
.header__logo:before{
	content: "";
	background: #78BB2F;
	display: inline-block;
	height: 20px;
	width: 12px;
	margin-right: 6px;
}
.header__logo-text , .header__logo-text2{
	display: inline-block;
	font-family: PT Mono, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	line-height: 20px;
	position: absolute;
	height: 20px;

}
.header__logo-text2{
	left: 118px;
}
.header__nav{
	display: flex;
	width: 1280px;
	margin: 0 auto;
	height: 60px;
	justify-content: space-between;
	align-items: center;
}
.header__menu{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 404px;
}
.header__menu li , .header__submenu li {
	position: relative;
}
.header__menu li a , .header__submenu li a{
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-decoration: none;

	cursor: pointer;
}
.header__submenu li a:hover , .header__submenu li a.active , .header__menu > li a.active , .header__menu > li a:hover{

	color: #B4B4B4;
}
.header__menu > li.active:after , .header__menu > li:hover:after{
	content: "";
	display: block;
	position: absolute;
	top: 21px;
	left: 0;
	width: 100%;
	height: 4px;
	background:#78BB2F;
}
.header__menu li:last-child:after{
	display: none;
}
.header__submenu{
	display: none;
	position: absolute;
	width: 106px;
	height: 105px;
	background: #373737;
	top: 21px;
	left: -25px;
	

}
.header__submenu ul{	padding: 20px 9px 7px 16px;
	list-style-type: none;
	
}
.header__menu-service:hover .header__submenu{
	display: block;

}
.header__menu-servic{
	position: relative;
}
.header__menu-service-down{
	width: 10px;
	height: 6px;
	display: inline-block;
	position: absolute;
	left: 59px;
	top: 6px;
}
.header__btn{
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	height: 20px;
	width: 80px;
	background: #78BB2F;
	border: 0;
	outline: 0;
	color: #fff;
	cursor: pointer;
}
.header__btn:hover{
	color: #4D4D4D;
	background: #E5E5E5;
}
.hamburger {
	width: 45px;
	height: 30px;
	position: relative;
	cursor: pointer;
	display: none;
}
.hamburger-btn, .hamburger-btn:after, .hamburger-btn:before {
	height: 4px;
	width: 45px;
	background: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.hamburger-btn::before {
	transform: translateY(8px);
}
.hamburger-btn::after {
	transform: translateY(-12px);
}
.hamburger-btn::after, .hamburger-btn::before {
	content: '';
	transition: .4s;
}
.hamburger-btn__active {
	height: 0;
}
.hamburger-btn__active::before {
	transform: rotate(135deg);
	height: 6px;
}
.hamburger-btn__active::after {
	transform: rotate(-135deg);
	height: 6px;
}
.header__menu-mobile{
	display: none;
}
/*   FIRST   */
#first{
	color: #FFFFFF;
	background: #0085FF;
}
.first__title{
	font-weight: 900;
	font-size: 42px;
	line-height: 49px;	
}
.first__title-adaptive{
	display:none;
}
.first__subtitle{
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	padding-top: 23px;
	padding-bottom: 25px;
}
.first__btn{
	background: #0085FF;
	border: 2px solid #FFFFFF;
	outline: 0;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	padding: 19px 63px 19px 60px;
	color: #ffff;
}
.first__btn:hover{
	color:#0085FF;
	background:#fff;
}
.first-inner{
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 60px;
}
.first__text{
	flex: 1.6;
}
.first__note{
	flex: 1;
}
.cms{
	background: #F0F0F0;
}
.cms-items{
	padding-top: 18px;
	padding-bottom: 12px;
	display: flex;
	justify-content: space-between;
}
.cms-item{
	width: 30px;
	height: 30px;
}

/*         services*/
.services__title{
	margin-bottom: 44px;
	margin-top: 72px;
}
.services__item-title{
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	margin-top: 13px;
	margin-bottom: 17px;

	color: #373737;
}
.services__item-p{
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;


	color: #373737;
}
.services__item-link{
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;

	color: #0085FF;
	cursor: pointer;
}
.services__items{
	max-width: 1020px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

}
.services__item{
	margin: 0 auto;
	text-align: center;
	width: 280px;
}
.services__item-img{
	height: 50px;
}
.services__item-img:first-child{
	height: 60px;
}

/*           order*/
.order__title{
	margin-top: 81px;
	margin-bottom: 46px;
}
#slides{
	position: relative;
}
.slide{
	position: absolute;

	height: 160px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0;
	-webkit-transition: opacity .7s;
	-moz-transition: opacity .7s;
	-o-transition: opacity .7s;
	transition: opacity .7s;
}
.showing {
	opacity: 1;
	z-index: 2;
}
.slide:last-child{
	height: 107px;
}
.order-inner{
	max-width: 1020px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slider{
	width: 419px;
	display: flex;
	justify-content: space-between;
}
.order-text{
	width: 561px;
	text-align: left;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	height: 159px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: #373737;
}
.order-text-link{
	color: #0085FF;
	cursor: pointer;
}
.slider-right , .slider-left{
	cursor: pointer;
}
.h2{
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	text-align: center;

	color: #373737;
}
.static-btn{
	background: #78BB2F;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	height: 60px;
	width: 245px;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	text-align: center;

	color: #FFFFFF;
	margin-top: 60px;
	margin-bottom: 73px;
	cursor: pointer;


}
.static__title{
	margin-top: 117px;
	margin-bottom: 40px;
}
.static__item-digit{
	font-weight: 900;
	font-size: 50px;
	line-height: 59px;

	color: #B6B4B4;
}
.static__items{
	max-width: 1063px;
	display: flex;
	justify-content: space-between;
}
.static__item{
	width: 160px;
	text-align: center;
}
.static__item-text{
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	color: #373737;
}
.static-btn-inner{
	width: 100%;
	display: flex;
	justify-content:center;
}
.visa{
	background: #F0F0F0;
}
.visa-inner{
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
	padding-bottom: 19px;
}
.footer_nav{
	height: 80px;
}
.static-btn-inner-order{
	display: none;
}

/*   FOOTER       */

#footer{
	background: #373737;
}
.footer__copyright{
	align-items: center;
	width: 259px;
	display: flex;
	justify-content: space-between;
}
.footer__copyright-text{
	cursor: pointer;
	font-weight: 200;
	font-size: 14px;

	color: #6A6A6A;
}
.footer__copyright-text:hover{
	color: #E5E5E5;
	
}
.footer__icons{
	width: 192.41px;
	display: flex;
	justify-content: space-between;
}
.footer__icons div{
	cursor: pointer;
}
.footer__icons-mail{
	background: url(../img/mail.svg) no-repeat;
	width: 22.5px;
	height: 18px;
}
.footer__icons-mail:hover{
	background: url(../img/mail-active.svg) no-repeat;
}
.footer__icons-twit{
	background: url(../img/twit.svg) no-repeat;
	width: 24.41px;
	height: 19.89px
}
.footer__icons-twit:hover{
	background: url(../img/twit-active.svg) no-repeat;
}
.footer__icons-inst{
	background: url(../img/inst.svg) no-repeat;
	width: 22.5px;
	height: 21.65px;
}
.footer__icons-inst:hover{
	background: url(../img/inst-active.svg) no-repeat;
}
.footer__icons-tel{
	background: url(../img/tel.svg) no-repeat;
	height: 22px;
	width: 22.5px;
}
.footer__icons-tel:hover{
	background: url(../img/tel-active.svg) no-repeat;
}
.footer__icons-what{
	background: url(../img/what.svg) no-repeat;
	height: 22px;
	width: 22.5px;
}
.footer__icons-what:hover{
	background: url(../img/what-active.svg) no-repeat;
}